@model IEnumerable<FastFoodStore.Models.Product>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <h2>Index</h2>

    <div>
        @using (Html.BeginForm())
        {
            <div class="pull-left">
                <p>
                    Find by name: @Html.TextBox("SearchString")
                    <button class="btn btn-info" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </p>
            </div>
        }
        <div class="pull-right" style="margin-right:5px;">
            <a href="@Url.Action("Create", "Products")" class="btn btn-info">
                <i class="glyphicon glyphicon-edit"></i>
                Add new
            </a>
            @*@Html.ActionLink("Create New", "Create")*@
        </div>

    </div>
    <table class="table table-hover">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th>#</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td style="vertical-align:middle">
                    <img src="../../Images/Products/@Html.DisplayFor(modelItem => item.Images)" alt="Alternate Text" class="img-responsive img-thumbnail" style="width:140px; height:140px;" />

                </td>
                <td style="vertical-align:middle">

                    @*<button class="btn btn-info">
                            @Html.ActionLink("edit", "Edit", new { id = item.ID, @style = "text-decoration:none;" })
                        </button>*@

                    <a href="@Url.Action("Edit", "Products", new { id = item.ID })" class="btn btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>

                    <a href="@Url.Action("Details", "Products", new { id = item.ID })" class="btn btn-info">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    </a>

                    <a href="@Url.Action("Delete", "Products", new { id = item.ID })" class="btn btn-info">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
